@import url(https://fonts.bunny.net/css?family=patua-one:400|source-sans-3:400,400i,700,700i,900,900i);
@import 'utilities/normalize.scss';

$accent_color: #2E614D;

@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
}

@mixin green-box-with-border {
  padding: 1rem;
  background-color: #F8FCFB;
  border-left: 0.1rem solid $accent_color;
}

@mixin inputs {
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 0.2em;
  line-height: 1.5;
}

/***************/
/*   General   */
/***************/
html {
  background-color: white !important;
  font: 16px/1.5 "Source Sans 3", sans-serif;
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", display, serif;
}

:target {
  background-color: yellow;
}

a {
  text-underline-offset: 0.3rem;
}

a:hover {
  text-decoration-thickness: 0.2rem;
}

cite {
  font-weight: bold;
}

q, blockquote {
  font-style: italic;
}

figure {
  text-align: center;
}

figcaption {
  font-weight: bold;
}

fieldset {
  border-color: rgba(0, 0, 0, .5);
}

input[type=text], input[type=number], input[type=email], input[type=search], button, select {
  @include inputs;
}


body {
  display: grid;
  grid-template:
          "a a"
          "c d"
          "e e";
  grid-template-columns: 70% 30%;
  max-width: 64rem;
  margin: 1rem auto;
}


.skip-main-navigation {
  @include sr-only;
}

/** Header **/

body > header {
  display: flex;
  grid-area: a;
  column-gap: 2rem;
  min-height: 8.333333334rem;
}

body > header h1 {
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body > header h1 a {
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  background: #fff url("../img/logo.svg") no-repeat center;
  background-size: contain;
}

body > header nav {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  margin: 2rem 0 0.5rem;
  background-color: $accent_color;
}

body > header nav h2 {
  @include sr-only;
}

body > header nav ul {
  display: flex;
  align-items: center;
  padding: 0 1rem 0;
  column-gap: 1rem;
  list-style-type: none;
}

body > header nav ul a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

body > header form label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

body > header form label small {
  text-transform: lowercase;
  letter-spacing: normal;
  font-weight: normal;
}

/** Zone Principale de contenu **/

main {
  grid-area: c;
}

article img:first-of-type {
  max-width: 100%;
  height: auto;
}

article header h2 {
  margin: 1rem 0;
}

article header nav h3 {
  @include sr-only;
}

.article-body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-right: 4rem;
}

.article-body section:first-child h3 {
  @include sr-only;
}

.article-body blockquote p {
  margin: 0;
}

.article-body blockquote:before {
  content: "« ";
  font-size: 3rem;
  line-height: 0;
  font-style: italic;
  position: relative;
  top: 2rem;
  left: -2rem;
  color: $accent_color;
}

.article-body blockquote:after {
  content: " »";
  font-size: 3rem;
  line-height: 0;
  font-style: italic;
  text-align: right;
  display: block;
  margin-right: -2rem;
  margin-bottom: 3rem;
  color: $accent_color;
}

table {
  width: 100%;
  margin-bottom: 2rem;
}

caption {
  margin-bottom: 1rem;
}

td, th, table {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 0.5rem 1rem;
}

td {
  text-align: right;
}

hr {
  border-color: lightgrey;
}

main form {
  max-width: 75%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main form input[type=text], main form input[type=number], main form input[type=email], main form textarea {
  width: 100%;
  box-sizing: border-box;
}

main form textarea {
  padding: 0.5rem;
}

main dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main dl div {
  display: flex;
}

main dt {
  font-weight: bold;
  flex-basis: 10ch;
}

/* Contenu annexe */
aside {
  grid-area: d;
  align-self: start;
  padding: 0 1rem 1rem;
  background-color: #F2F2F2;
}

aside h2 {
  @include sr-only;
}

aside h3 {
  font-size: 1.5rem;
}

aside ul {
  padding: 0;
  list-style-type: none;
}

aside dl {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

aside dt a {
  color: $accent_color;
  font-weight: 900;
}

aside dd {
  margin: 0;
}

aside section:first-of-type {
  margin-bottom: 2rem;
}

aside section:first-of-type h3 {
  margin: 1rem 0;
}

aside section:last-of-type h3 {
  @include sr-only;
}

aside section:last-of-type img {
  width: 100%;
  height: auto;
}

aside nav:nth-of-type(1) {
  margin-bottom: 2rem;
}

aside nav:nth-of-type(1) h4 {
  @include green-box-with-border;
  color: $accent_color;
}

aside nav:nth-of-type(2) {
  @include green-box-with-border;
}

aside nav:nth-of-type(2) h4 {
  @include sr-only;
}

aside nav:nth-of-type(2) ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

aside nav:nth-of-type(2) a {
  font-weight: bold;
  color: $accent_color;
}

/* Pied de page */
body > footer {
  grid-area: e;
  background-color: $accent_color;
  color: white;
  text-align: right;
  padding: 0.5rem;
}

body > footer a {
  color: white;
}