body {
  display: grid;
  grid-template:
            "a a"
            "c d"
            "e e";
}

body > header {
  grid-area: a;
  display: flex;
}

body > header h1 {
  flex-basis: 147px;
  height: 147px;
}

body > header nav {
  margin: 3rem 0 2rem 3rem;
  display: flex;
  width: 100%;
}

body > header nav ul {
  display: flex;
}


body > main {
  grid-area: c;
}

body > aside {
  grid-area: e;
}

body > footer {
  grid-area: e;
}


.main_header h1 {
  flex-basis: 147px;
}


.main_header nav {
  flex-grow: 1;
}